{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}

    <main>
        <section class="hero">
            <h1>Создаём любовь через цветы</h1>
            <p>Мы выращиваем наши цветы с любовью и вниманием специально для вас.</p>
            <a href="catalog.html" class="btn">Перейти в каталог</a>
        </section>
        
        <section class="products">
            <div class="product">
                <img src="flower1.jpg" alt="Букет дня">
                <h3>Букет дня</h3>
                <p>3800 руб.</p>
            </div>
            <div class="product">
                <img src="flower2.jpg" alt="Букет недели">
                <h3>Букет недели</h3>
                <p>7300 руб.</p>
            </div>
            <div class="product">
                <img src="flower3.jpg" alt="Композиция 'Lee'">
                <h3>Композиция "Lee"</h3>
                <p>4200 руб.</p>
            </div>
            <div class="product">
                <img src="flower4.jpg" alt="Композиция 'Sea Lo'">
                <h3>Композиция "Sea Lo"</h3>
                <p>5400 руб.</p>
            </div>
        </section>
         <section class="products">
            <div class="product">
                <img src="flower1.jpg" alt="Букет дня">
                <h3>Букет дня</h3>
                <p>3800 руб.</p>
            </div>
            <div class="product">
                <img src="flower2.jpg" alt="Букет недели">
                <h3>Букет недели</h3>
                <p>7300 руб.</p>
            </div>
            <div class="product">
                <img src="flower3.jpg" alt="Композиция 'Lee'">
                <h3>Композиция "Lee"</h3>
                <p>4200 руб.</p>
            </div>
            <div class="product">
                <img src="flower4.jpg" alt="Композиция 'Sea Lo'">
                <h3>Композиция "Sea Lo"</h3>
                <p>5400 руб.</p>
            </div>
        </section>
        
        <section class="delivery">
            <h2>Доставка</h2>
            <div>
                <p>Курьером по Москве - 600 руб.</p>
            </div>
            <div>
                <p>Срочная доставка по Москве - 1500 руб.</p>
            </div>
            <div>
                <p>В другие города - 3000 руб.</p>
            </div>
            <a href="#" class="btn">Сделать заказ</a>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Kami Flowers. Все права защищены.</p>
    </footer>


{% endblock %}
 